<div class="maincomponent">
    <div class="row">
        <div class="col-3 sidenav">
            <div class="rwllogo">
                <img [src]="railworldLogo" alt="">
            </div>

            <div class="dashboard common" routerLink="/hr">
                <a> <img [src]="dashboard" alt=""> Dashboard</a>
            </div>

            <div class="employee common"  routerLink="/hr/employees">
                <a ><img [src]="allEmp" alt=""> Employees</a>
            </div>

            <div class="clients common" routerLink="/hr/clients"> 
                <a ><img [src]="clients" alt=""> Clients</a>
            </div>

            <div class="projects common" routerLink="/hr/projects">
                <a > <img [src]="projects" alt=""> Projects</a>
            </div>


            <div class="attendance common" routerLink="/hr/attendance">
                <a ><img [src]="attendence" alt=""> Attendance</a>
            </div>

            <div class="leave common" routerLink="/hr/leaves">
                <a ><img [src]="leaves" alt=""> Leave</a>
            </div>

            <div class="jobs common" routerLink="/hr/jobs">
                <a ><img [src]="jobs" alt=""> Jobs</a>
            </div>

            <div class="management common" routerLink="/hr/managements">
                <a ><img [src]="mgmt" alt=""> Management</a>
            </div>

            <div class="setting common" routerLink="/hr/settings">
                <a > <i class="fa fa-gear"></i> Settings</a>
            </div>

            <div class="setting common"  routerLink="/hr/logout">
                <a > <img [src]="logout" alt=""> Log Out</a>
            </div>

        </div>
        <div class="col-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>