<div class="maincomponent">
    <div class="row">
        <div class="col-3 sidenav">
            <div class="rwllogo">
                <img [src]="railworldLogo" alt="">
            </div>

            <div class="dashboard common">
               <a routerLink="/hr" > <img [src]="dashboard" alt="">  Dashboard</a>
            </div>

            <div class="employee common">
                <a routerLink="/hr/employees"><img [src]="allEmp" alt=""> Employees</a>
            </div>

            <div class="clients common">
                <a routerLink="/hr/clients"><img [src]="clients" alt=""> Clients</a>
            </div>

            <div class="attendance common">
                <a routerLink="/hr/attendance"><img [src]="attendence" alt=""> Attendance</a>
            </div>

            <div class="projects common">
                <a routerLink="/hr/projects"> <img [src]="projects" alt=""> Projects</a>
            </div>

            <div class="task common">
                <a routerLink="/hr/payrolls"><img [src]="tasks" alt=""> Payroll</a>
            </div>

            <div class="jobs common">
                <a routerLink="/hr/jobs"><img [src]="jobs" alt=""> Jobs</a>
            </div>

            <div class="task common">
                <a routerLink="/hr/candidates"><img [src]="tasks" alt=""> Candidates</a>
            </div>

            <div class="task common">
                <a routerLink="/hr/holidays"><img [src]="tasks" alt=""> Holidays</a>
            </div>

            <div class="management common">
                <a routerLink="/hr/managements"><img [src]="mgmt" alt=""> Management</a>
            </div>

            <div class="leave common">
                <a routerLink="/hr/leaves"><img [src]="leaves" alt=""> Leave</a>
            </div>      

            <div class="setting common">
                <a routerLink="/hr/settings"> <img [src]="settings" alt=""> Settings</a>
            </div>

            <div class="setting common">
                <a routerLink="/hr/logout"> <img [src]="logout" alt=""> Log Out</a>
            </div>

        </div>
        <div class="col-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>