<div class="maincomponent">
    <div class="row">
        <div class="col-3">
            <div class="dashboard">
                <a routerLink="/hr">Dashboard</a>
            </div>
            <div class="employee">
                <a routerLink="/hr/employees">Employees</a>
            </div>
            <div class="clients">
                <a routerLink="/hr/clients">Clients</a>
            </div>
            <div class="projects">
                <a routerLink="/hr/projects">Projects</a>
            </div>
            <div class="task">
                <a routerLink="/hr/tasks">Tasks</a>
            </div>
            <div class="attendance">
                <a routerLink="/hr/attendance">Attendance</a>
            </div>
            <div class="leave">
                <a routerLink="/hr/leaves">Leave</a>
            </div>
            <div class="jobs">
                <a routerLink="/hr/jobs">Jobs</a>
            </div>
            <div class="management">
                <a routerLink="/hr/managements">Management</a>
            </div>
            <div class="setting">
                <a routerLink="/hr/settings">Settings</a>
            </div>
        </div>
        <div class="col-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>