

<a class="change">
<!-- <div class="person" ><i class="fa fa-exclamation-triangle"></i> Personal Information</div> -->
</a>
<hr class="line">
<a class="security_button">
    <!-- <div class="security" here="#"><i class="fa fa-lock fa-l"></i> Security</div> -->
</a>

<div class="vl"></div>




<div class="General">
    <div class="gen_info">General Information</div>
    <div class="gen_p">Lorem ipsum dolor sit amet consectetur.</div>
</div>
<hr>

<div class="profile">Profile Picture</div>
<img class="profile_img" src="../../../assets/hr_setting_img/86efa3df337e8c215dd8095476bb6513.jpeg" alt="">

<div class="profile_d">
    <div class="profile_name">Mark Collins</div>
    <div class="profile_role">Role/Title</div>
    <div class="profile_location">Location</div>

    <div class="change_in_profile">
        <button class="save_profile">Change</button>
        <button class="delete">Delete</button>
    </div>


    <div class="User">
        <div>Userame</div>
        <input type="text" placeholder="Enter your name">
    </div>

    <div class="Email">
        <div>Email_ID</div>
        <input type="text" placeholder="Enter your Email_Id">
    </div>

    <div class="Phone">
        <div>Phone Number</div>
        <input type="text" placeholder="123-456-7890">
    </div>

    <div class="Fax">
        <div>Fax</div>
        <input type="text" placeholder="1234">
    </div>

    <div class="Address">
        <div>Address</div>
        <input type="text" placeholder="Enter your Address">
    </div>

    <div class="Country">
        <div>Country_name</div>
        <input type="text" placeholder="Enter your Country name">
    </div>

    <div class="City">
        <div>City name</div>
        <input type="text" placeholder="Enter your City name">
    </div>
    <div class="State">
        <div>State_name</div>
        <input type="text" placeholder="Enter your State name">
    </div>
</div>