<!-- <div class="container">
    <div class="logo">Settings</div>
    <p id="all">All System Settings</p>

    <div class="search-container">
        <input type="text" placeholder="Search...">
        <button class="search_icon" onclick="search()">
            <div class="search_icon"><i class="fa fa-search"></i></div>
        </button>

        <div class="bell"><i class="fa fa-bell fa-2xl"></i></div>

        <div class="rectangle-box">
            <img class="me" src="../../../assets/hr_setting_img/Ashutoshsinghphoto.jpg .jpg" alt="">
            <h1 class="name">Ashutosh Singh</h1>
            <p id="namep">HR Manager</p>


        </div>

        <div class="dropdown">
            <button class="dropbtn"><i class="fa fa-angle-down fa-l"></i></button>
            <div class="dropdown-content">
                <a><i class="fa fa-user"></i> My Profile</a>
                <a class="logout"><i class="fa fa-times"></i> Logout</a>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="update">
    <button class="save">Save change</button>
    <button class="cancel">cancel</button>
</div> -->






<!-- <div class="main">
    <div class="appearance">
        <h1>Appearance</h1>
        <p>Customize how your theme looks on your device</p>
        <div class="mode">Light
        </div>
    </div>
<hr class="line">
    <div class="Language">
        <h2>Language</h2>
        <p>Select your language</p>
        <div class="lan">English
        </div>
    </div>
<hr class="line">   
    <div class="Two-factor">
        <h3>Two-factor Authentication</h3>
        <p>Keep your account secure by enabling 2FA via mail</p>
        <label class="switch1">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
    </div>
    <hr class="line"> 
    <div class="mobile">
        <h4>Mobile Push Notifications</h4>
        <p>Receive push notification</p>
        <label class="switch2">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
    </div> 
    <hr class="line">
    <div class="notification">
        <h5>Desktop Notification</h5>
        <p>Receive push notification  in desktop</p>
        <label class="switch3">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
    </div>
    <hr class="line">
    <div class="email">
        <h6>Email Notifications</h6>
        <p>Receive email notification</p>
        <label class="switch4">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
    </div>

</div> -->


<a class="change">
<!-- <div class="person" ><i class="fa fa-exclamation-triangle"></i> Personal Information</div> -->
</a>
<hr class="line">
<a class="security_button">
    <!-- <div class="security" here="#"><i class="fa fa-lock fa-l"></i> Security</div> -->
</a>

<div class="vl"></div>




<div class="General">
    <div class="gen_info">General Information</div>
    <div class="gen_p">Lorem ipsum dolor sit amet consectetur.</div>
</div>
<hr>

<div class="profile">Profile Picture</div>
<img class="profile_img" src="../../../assets/hr_setting_img/86efa3df337e8c215dd8095476bb6513.jpeg" alt="">

<div class="profile_d">
    <div class="profile_name">Mark Collins</div>
    <div class="profile_role">Role/Title</div>
    <div class="profile_location">Location</div>

    <div class="change_in_profile">
        <button class="save_profile">Change</button>
        <button class="delete">Delete</button>
    </div>


    <div class="User">
        <div>Userame</div>
        <input type="text" placeholder="Enter your name">
    </div>

    <div class="Email">
        <div>Email_ID</div>
        <input type="text" placeholder="Enter your Email_Id">
    </div>

    <div class="Phone">
        <div>Phone Number</div>
        <input type="text" placeholder="123-456-7890">
    </div>

    <div class="Fax">
        <div>Fax</div>
        <input type="text" placeholder="1234">
    </div>

    <div class="Address">
        <div>Address</div>
        <input type="text" placeholder="Enter your Address">
    </div>

    <div class="Country">
        <div>Country_name</div>
        <input type="text" placeholder="Enter your Country name">
    </div>

    <div class="City">
        <div>City name</div>
        <input type="text" placeholder="Enter your City name">
    </div>
    <div class="State">
        <div>State_name</div>
        <input type="text" placeholder="Enter your State name">
    </div>
</div>