
<div class="vl"></div>

<div class="General">
    <div class="gen_info">Security</div>
    <div class="gen_p">Login Two-Step Verification</div>
    <hr>
    <div class="security_m">Password Management</div>
 

    <div class="login">Login Two-Step Verification</div>
<label class="switch1">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>
    <div class="login_p">Lorem ipsum dolor sit amet consectetur.</div>


    <div class="email">Email Setup</div>
    <label class="switch2">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
    <div class="email_p">Lorem ipsum dolor sit amet consectetur.</div>
    
    <div class="security_s">Password Security</div>

    <div class="passworld_c">Password Change</div>
    <div class="change"><button class="change_p"><a routerLink="/hr/settings/security/change-password"></a>Change Password</button></div>
    <div class="passworld_p">Lorem ipsum dolor sit amet consectetur.</div>
 
