@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

.candidate {
    margin: 2% 0;
    /* width: 110%;   */
}

.notification {
    margin: 2% 2% 5% 2% ;
    padding: 2% 2% 0 2%;
    border-radius: 10px;
    background: rgba(162, 161, 168, 0.10);
}

.userImg {
    height: 50px;
    width: 50px;
}

.userText b {
    color: #16151C;
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    padding: 0 5%;
}

.userText p {
    color: #A2A1A8;
    font-family: Lexend;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    padding: 0 5%;
}

.profile a {
    color: #16151C;
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.logout a {
    color: #F45B69;
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.headCandi h3 {
    font-family: Lexend;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
}

.headCandi p {
    font-family: Lexend;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0em;
}

.secondSection {
    border: 1px solid rgba(162, 161, 168, 0.2);
    padding: 3%;
    border-radius: 10px;
}

th {
    font-family: Lexend;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    color: rgba(162, 161, 168, 1);
    padding: 2% 0;
    border: 0;
}

td {
    font-family: Lexend;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    padding: 2% 0;
    border: 0;
}

.status span {
    padding: 5%
}

.footer {
    padding: 2%;
    background-color: rgba(241, 241, 241, 1);
}

.footer button {
    padding: 2%;
}

.resumeImg {
    width: 100%;
}

.eyeButton button {
    border: 0px;
    background-color: white;
}

.w100 {
    width: 100%;
}

.bell i {
    background-color: rgba(162, 161, 168, 0.1);
    padding: 2%;
    border-radius: 10px;
}