.logo{
    color: var(--Dark-500, #16151C);

    /* Header-6 Bold */
    font-family: Lexend;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 150% */
    margin-top: 3%;
    margin-left: 40px;
}
.setting{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}
.setting.logo{
    color: var(--Dark-500, #16151C);
    /* Header-6 Bold */
    font-family: Lexend;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 150% */
}
#all{
    color: var(--Gray-500, #A2A1A8);
    /* Body-2 Regular */
    font-family: Lexend;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px; /* 157.143% */
    margin-left: 40px;
}
.bell{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-right: 5%;
}


.search-container {
    display: flex;
    align-items: center;
    margin-left: 60%;
    margin-top: -6%;
    
}

  
input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
  }
  
button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 2%;
    /* background: var(--gray-gray-10, rgba(162, 161, 168, 0.10)); */
    margin-left: 0%;
    display: flex;
    width: 50px;
height: 50px;
}

  
  
button:hover {
    background-color: #0056b3;
  }

.rectangle-box{
    width: 184px;
    height: 50px;
    flex-shrink: 0;
    border-radius: var(--Radius-8, 8px);
    border: 1px solid var(--gray-gray-20, rgba(162, 161, 168, 0.20));

}  

.me{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: var(--Radius-8, 8px);
    border: 1px solid var(--gray-gray-20, rgba(162, 161, 168, 0.20));
    margin-left: 1%;
    margin-top: 2%;
}
.name{
    color: var(--Dark-500, #16151C);
    /* Body-1 Bold */
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    margin-left: 26%;
    margin-top: -23%;

}

#namep{
    color: var(--Gray-500, #A2A1A8);

    /* Caption Regular */
    font-family: Lexend;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px; /* 150% */
    margin-left: 26%;
    margin-top: -7%;


}
.bell{
    
    background-color: #0056b3;
    display: flex;
    width: 50px;
    height: 50px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--gray-gray-10, rgba(162, 161, 168, 0.10));

}
.bell:hover {
    background-color: #0056b3;
  }

.fa-angle-down{
    width: 20px;
    height: 20px;
    flex-shrink: 0;

}

.main{
    width: 1112px;
    height: 696px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid var(--gray-gray-20, rgba(162, 161, 168, 0.20));
    margin-left: 35px;
    margin-top: 5%;
}
h1{
    color: var(--Dark-500, #16151C);

/* Body-1 Bold */
font-family: Lexend;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 150% */
}
p{
    color: var(--Gray-500, #A2A1A8);

/* Body-1 Regular */
font-family: Lexend;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 24px; /* 150% */
}
.appearance{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    margin-left: 2%;
    margin-top: 1%;

}

.mode{
    display: inline-flex;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--gray-gray-10, rgba(162, 161, 168, 0.10));
    margin-left: 253%;
    margin-top: -17%;
}
.mode:hover{
    background-color: #0056b3;
}
.line{
    margin: 2rem 0;
    color: inherit;
    border: 1px solid var(--gray-gray-20, rgba(162, 161, 168, 0.20));
    margin-left: 35px;
    margin-right: 35px;
    border-top: var(--bs-border-width) solid;
    opacity: .30;


}
.Language{
    display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 5px;
margin-left: 2%;

}
h2{
    color: var(--Dark-500, #16151C);

    /* Body-1 Bold */
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
}
p{
    color: var(--Gray-500, #A2A1A8);

    /* Body-1 Regular */
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 150% */
}
.lan{
    display: inline-flex;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--gray-gray-10, rgba(162, 161, 168, 0.10));
    margin-left:575%;
    margin-top: -45%;

}
.lan:hover{
    background-color: #0056b3;
}
.Two-factor{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-left: 2%;
    margin-bottom: 1%;
}
h3{
    color: var(--Dark-500, #16151C);

    /* Body-1 Bold */
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
}
p{
    color: var(--Gray-500, #A2A1A8);

    /* Body-1 Regular */
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 150% */
}




.switch1 {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 240%;
    margin-top: -20%;
}
  .switch1 input {
    opacity: 0;
    width: 0;
    height: 0;
} 
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  input:checked + .slider {
    background-color: #2196F3;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }

  .mobile{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-left: 2%;
    margin-bottom: 1%;
  }
  h4{
    color: var(--Dark-500, #16151C);

    /* Body-1 Bold */
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
  }
  .switch2 {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 450%;
    margin-top: -35%;
}
  .switch2 input {
    opacity: 0;
    width: 0;
    height: 0;
} 
.notification{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-left: 2%;
    margin-bottom: 1%;
}
h5{
    color: var(--Dark-500, #16151C);

    /* Body-1 Bold */
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
}
.switch3 {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 337%;
    margin-top: -27%;
}
  .switch3 input {
    opacity: 0;
    width: 0;
    height: 0;
} 
.email{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-left: 2%;
    margin-bottom: 1%;
}
h6{
    color: var(--Dark-500, #16151C);

    /* Body-1 Bold */
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
}
.switch4 {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 472%;
    margin-top: -40%;
}
  .switch4 input {
    opacity: 0;
    width: 0;
    height: 0;
} 